.rating-brand {
  display: flex;
}
@media only screen and (max-width: 830px) {
  .Rating_Div {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 395px) {
  .Brands_Carts {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
  }
}
@media only screen and(max-width:1200px) {
  .rating-brand {
    display: block;
  }
  .Main_Brands {
    margin-left: 0px !important;
  }
  .Brands_Carts {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .Brand_Veiw_Scss {
    color: gray;
    display: flex;
    align-items: center;
    margin-left: 59% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .Rating_Div {
    width: 48%;
    margin: auto;
  }
  .Rating_AllCarts {
    display: flex;
    flex-wrap: wrap;
  }
}
.Rating_Texts {
  display: inline;
  align-items: center;
}
.rating_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rating_Veiw_Scss {
  color: gray;
  display: flex;
  align-items: center;
  margin-left: 50%;
}

.Rating_Heading {
  display: flex;
  justify-content: space-between;
}
.Rating_Icon {
  color: rgb(250, 180, 0);
  font-size: 1.5em;
}
.Rating_Heading_Text {
  font-weight: 700;
  font-size: 25px;
  color: #2b3445;
  position: relative;
  left: 10px;
}
.Rating_AllCarts {
  display: flex;
  max-width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.Rating_Image {
  width: 100%;
  border-radius: 6px;
}
.Rating_Icons {
  color: #faaf00;
  display: flex;
  align-items: center;
  margin: 7.2px;
  justify-content: center;
}
.Rating_Icons_Rate {
  color: black;
}

.Rating_Price {
  color: #d23f57;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.Rating_Image:hover {
  background-color: darkgrey;
}
.Rating_Text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
// Featueres & Brand Scss
.Brands_Carts {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 16px 0px 0px 16px;
}
.Brands_Carts_Img {
  width: 100%;
  border-radius: 6%;
}
.Brand_Icon {
  color: rgb(250, 180, 0);
  font-size: 1.5em;
}
.Brand_Heading_Text {
  font-weight: 700;
  font-size: 25px;
  color: #2b3445;
  position: relative;
  left: 10px;
}
.Brand_Heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Brands,
.Shops {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: #2b3445;
  text-transform: none;
  white-space: normal;
  cursor: pointer;
}
.Brand_Veiw_Scss {
  color: gray;
  display: flex;
  align-items: center;
}

.Brands_Carts_Hover {
  position: relative;
  display: flex;
}
.Brand {
  width: 100%;
  height: 97%;
  position: absolute;
  top: 0;
  border-radius: 6px;
}
.Rating_Div {
  margin-right: 14px;
  cursor: pointer;
}
.Brand:hover {
  background-color: #585656;
  opacity: 0.4;
  height: 100%;
}
