.Heading_Flash{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .Flash_Icon{
    font-size:1.5rem;
    color:#D23F57;
    // top: 26px;
    position: relative;
  }
  .Card_Price{
    display: flex;
    justify-content:flex-start;
    .Price_Actual{
      color: red;
      inline-size:80px;
      margin: 0;
      
    }
  }
  
  .Price_previous{
    color: gray;
    margin: 0;    
  }
  .container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
  }
  @media only screen and (max-width:600px){
    .All_Carts1{
      width: 100% !important;
    }
  }
  @media only screen and (max-width:295px){
    .container{
      padding: 0 16px;
    }
  }
  .Cart_Icon{
    color: #faaf00;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}
      
  .icon_Slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Left-arrow{
      font-size: 3rem;
      position: relative;
      top: 285px;
      right: 25px;
      cursor: pointer;
      background-color: #0F3460;
      color: #fff;
      border-radius: 50px;
    }
    .Right-arrow{
      font-size: 3rem;
      position: relative;
      top: 285px;
      cursor: pointer;
      left: 25px;
      background-color: #0F3460;
      color: #fff;
      border-radius: 50px;

    }
  }
  .Counter{
    align-items: center;
    user-select: none;
    
  }
  .Discount_Css{
    border-radius: 50px;
    padding-left: 0px;
    background-color: #d23f57;
    width: 70px;
    height: 27px;
    position: relative;
    color: white;
    cursor: pointer;
     display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .All_Carts1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;

    gap: 25px;
    width: 100%;
    .Main_Card1{
      user-select: none;
      padding:10px 20px;
      border-radius:10px;
      background-color:#fff;
      cursor: pointer;
    }
  }
  .rating{
    margin: 0;
  }
 
  .Cart_Img{
 
    width: 100%;
    user-select: none;
  }
  
  .Main_Card1:hover{
    .Hover_Icon:hover{
      cursor: pointer;
    }
  }
  .Hover_Icon{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  .Cart_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445;
    margin-left: 6px;
    user-select: none;
  }
  .Hover_Icon:hover{
    cursor: pointer;
  }
  .h1{
    font-weight: 400;
  }
  .Veiw_Scss{
    color: gray;
    display:flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
 
    
  }
  .Cart_Heading{
    display:flex;
    align-items: center;
  }
  .description{
    margin-top: 0;
    margin-bottom: 8px;
    color: #373F50;
  }