.Cars_Heading_text {
  font-weight: 700;
  font-size: 25px;
  color: #2b3445;
  margin-left: 20px;
}
.Main_Card1{
  user-select: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
@media only screen and (max-width:900px){
  .Main_Card{
    grid-template-columns: repeat(auto-fill,minmax(100%,100%)) !important;
  }
}
.Main_Card1:hover {
  box-shadow: 5px 5px 5px #aeb0b38a;
}
.Car_Main{
  max-width: 1200px;
  width: 100%;
}
.Cart_Discount_Css {
  border-radius: 50px;
  background-color: rgb(210, 63, 87);
  max-width: 23%;
  position: relative;
  color: white;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
.Card_Icon {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  font-size: 1.25rem;
  color: grey;
}
.Card_Price {
  display: flex;
  justify-content: flex-start;
  .Price_Actual {
    color: red;
    inline-size: 80px;
  }
}
.Price_Previous {
  color: gray;
}
