.main_bike {
  background-color: white;
  width: 240px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .bike-Div {
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    justify-content: space-between;
    padding: 0px 9px;
    .bike-icon {
      margin-right: 8px;
      font-size: 20px;
    }
    .bike-flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Hover-Container {
      display: none;
      position: absolute;
      margin-left: 240px;
      top: 0;
    }
    &:hover {
      .Hover-Container {
        display: block;
      }
    }
  }
}
.bike-Div:hover {
  color: #D23F57;
background: #FCE9EC;
}
