.body {
  user-select: none;
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
}
.App {
  background-color: #f6f9fc;
  width: 100%;
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.App1 {
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.Heading_Flash {
  margin-top: 30px;
}
.Logo {
  height: 28px;
  margin: 0px 0px 4px 0px;
  cursor: pointer;
}
.Search_Parent {
  width: 55%;
}
.logo_Responsive {
  display: none;
}

@media only screen and (max-width: 760px) {
  .Search_Parent {
    width: 100% !important;
  }
}
@media only screen and (max-width: 900px) {
  .Header_Search {
    justify-content: center !important;
  }
  .Search_Parent {
    width: 85%;
  }
  .Mobile_Reponsive {
    display: flex !important;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    border: #fff;
    justify-content: space-around;
    flex-direction: row;
    bottom: 0;
    position: fixed;
    padding: 12px 0px;
    left: 0;
    z-index: 3;
    height: 64px;
    right: 0;
    width: 100vw;
    color: #2b3445;
    font-size: 12px;
  }
  .condensed {
    display: none !important;
  }
  .Header_Container,
  .Header_Icon,
  .Logo,
  .Header_Border_div1 {
    display: none !important;
  }
  .Mobile_Icon {
    font-size: 25px;
  }
  .logo_Responsive {
    display: block;
    height: 28px;
  }
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-size: 0.75rem;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #d23f57;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 50px !important;
    margin-top: -12px;
  }
  #Header {
    display: none;
  }
  
  .Header_Border_Text1 {
    margin-top: 0 !important;
  }
  #Header_Text {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
}
.Header_Slider {
  background-color: white;
}
.Main_Header {
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 10px 5px 14px #f6f9fc;
}
.Mobile_Reponsive {
  display: none;
}
.Parts {
  text-align: center;
  line-height: 0;
  min-width: 50px;
}
.select {
  font-weight: 600;
  margin-left: 10px;
  color: #7d879c;
}
.Categories_Icons {
  display: flex;
}
.Header_Border {
  background-color: rgb(15, 52, 96);
  color: white;
  display: flex;
  line-height: 1;
  align-items: center;
  box-sizing: inherit;
  font-size: 12px;
}
.Header_Border_div1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Header_Border_div2 {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.Header_Border_Text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: none;
  white-space: normal;
  height: 18px;
  font-weight: 400;
  margin: 0 0 0 10px;
  height: 18px;
  line-height: 1.5;
}
.Phone_Icon {
  width: 20px;
  height: 20px;
}
.Header_Border_divs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header_Border_div {
  display: flex;
  margin-left: 20px;
}
.Header_Border_Text1 {
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  margin-right: 20px;
  display: flex;
}
.abc {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  background: #0f3460;
  color: white;
  outline: none;
  border: none;
}
#Header_Text {
  margin-right: -10px;
  display: flex;
}
.Language {
  user-select: none;
  list-style: none;
  background: white;
  line-height: 2;
  z-index: 1;
  top: 39px;
  position: absolute;
  padding: 13px 0px;
  color: #000000;
  width: 61px;
  display: grid;
  align-items: center;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  .list_Item {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 15px;
    font-size: 15px;
  }
  .list_Item:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.categories_Icons {
  transform: rotate(90deg);
}

.Header_Border_Text2 {
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  margin-right: 10px;
  font-size: 11.5px;
  font-weight: 500;
  display: flex;
}
.Header_borders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.Hover:hover {
  color: red;
}
option:hover {
  background-color: red;
}
.Search:hover {
  border-color: #d23f57;
}
.Header_Search {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1236px;
  margin-bottom: 10px;
}
.headerContainer {
  transition: 0.7s transform ease-in;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.show-header {
  transform: translateY(0);
    box-shadow: 5px 3px 10px black;
}
.hide-header {
  transform: translateY(-400px);
}
.Search {
  border: 1px solid lightgrey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Search_Input {
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: inherit;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  width: 100%;
  font: inherit;
}
.Logo_Btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Catergories_button {
  background-color: white;
  list-style: none;
  position: absolute;
  margin-top: 20em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px;
  z-index: 1;
  min-width: 50px;
  color: grey;
  margin-right: 50px;
  width: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  user-select: none;
}
.catergories_title {
  line-height: 2;
  cursor: pointer;
}

.catergories_title:hover {
  background-color: rgba(0, 0, 0, 0.04);
  width: 100%;
  text-align: initial;
}
option {
  background-color: #ffffff;
  color: #000000;
}
.Search_Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 6px;
  color: grey;
  padding-left: 7px;
}
.btn-Categories-Parent {
  min-width: 170px;
  width: 214px;
  cursor: pointer;
}
.Btn-Categories {
  border-end-end-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6f9fa;
  height: 44px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Header_Icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Icon {
  display: inline-flex;
  cursor: pointer;
  -moz-appearance: none;
  font-size: 1.5rem;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 0 16px;
  background-color: #f3f5f9;
  padding: 10px;
}
.Icon:hover {
  background-color: gray;
}
.Cart_Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-size: 0.75rem;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #d23f57;
  color: #fff;
  margin: 0px 0px 45px 110px;
  user-select: none;
}
.categories_icon {
  color: #000;
  font-size: 1.25rem;
}
option:hover {
  color: red;
}
.Btn_Categories {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.75;
  padding: 6px 8px;
  border-radius: 4px;
  width: 278px;
  height: 40px;
  background-color: #f6f9fc;
}

.condensed {
  width: auto;
  background: #fff;
  position: absolute;
  margin-left: 25px;
  svg.Categories_Icons,
  .categories_icon {
    transform: rotate(90deg);
    color: rgb(125, 135, 156);
  }
}
.condensed:hover {
  background-color: #f6f9fc;
}

.Header_Searchs {
  display: none;
  text-align: center;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  box-shadow: 5px 4px 21px grey;
}
.Header_Container {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.Header_Container2 {
  display: flex;
  position: relative;
}
.Header_Container2 .DropDown {
  padding: 10px 10px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}
.dropDown_span {
  position: absolute;
}
.Header_Container2 .DropDown:hover {
  color: red;
}
.DropDown .DropDown_Contain {
  position: absolute;
  top: 20px;
  background-color: #fff;
  box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
  color: #333;
  z-index: 1;
  min-width: 200px;
  border-radius: 10px;
  transition: 2s all ease;
}
.DropDown .DropDown_Contain .DropDown_Item,
.dropdownitems {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.DropDown .DropDown_Contain .DropDown_Item:hover,
.dropdownitems:hover {
  color: #d23f57;
  background: #fce9ec;
  &:hover {
    .dropDown_containers {
      display: block;
      transition: 3s all ease;
    }
  }
}
.Categories_btn {
  display: flex;
  align-items: center;
}
.categories {
  background-color: rgb(246, 249, 252);
  color: darkgray;
  width: 20%;
  height: 33px;
  border-radius: 5px;
  user-select: none;
}
.Hover {
  padding-right: 30px;
  height: 4px;
  line-height: 1;
  margin: 0;
}
.DropDown_Contain {
  display: none;
}
.DropDown:hover .DropDown_Contain {
  display: block !important;
}
.Categories {
  display: none;
}
.Categories_Type {
  color: #000;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  .hover-container {
    display: none;
    position: absolute;
    margin-left: 270px;
    top: 0;
  }
  &:hover {
    .hover-container {
      display: block;
    }
  }
}
.dropDown_containers {
  display: none;
  top: 0px;
  padding: 0 10px;
  color: #333;
  z-index: 1;
  min-width: 230px;
  position: absolute;
  transition: 5s all ease;
  background-color: transparent;
  left: 200px;
  &:hover {
    .dropDown_containers {
      display: block;
    }
  }
  .dropDown_innerDiv {
    border-radius: 10px;
    box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
    background-color: #fff;
    overflow: hidden;
  }
}

.Title {
  padding-left: 0.75rem;
}
.Categories_Icon {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  color: grey;
  margin-left: 6px;
}
.Select {
  color: #7d879c;
  cursor: pointer;
  user-select: none;
}
.Categories_Icons {
  color: #000;
}
.Categories_Type:hover {
  color: #d23f57;
  background: #fce9ec;
}
.categories1 {
  position: absolute;
  padding: 0.5rem 0px;
  left: 0px;
  top: calc(100% + 0.7rem);
  border-radius: 4px;
  background-color: white;
  z-index: 1;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  width: 275px;
}
.title {
  margin: 0;
}
