.Catergory_Icon{
    font-size:200%;
    color:red;
    top: 26px;
    position: relative;
}
.Category_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445
  };
  .Category_Heading{
      display: flex;
  }
  .Catergory_Scss{
      display: flex;
      margin: 10px;
  }
  .Catergory_Image{
      width:75%;
      cursor: pointer;
      border: 20px solid #ffff;
      margin: 10px;

  }
  .Catergory_Image2{
      width:75%;
      cursor: pointer;
      margin: 10px;
      border: 20px solid #ffff;
  }
  .Catergory_Image3{
      width:75%;
      margin: 10px;
      cursor: pointer;
      border: 20px solid #ffff;
  }
  .Catergory_Image1:hover{
      color:solid darkblue!important;
      opacity: 0.8;
      z-index: 1;
  }
  .Catergory_Image2:hover{
    color:solid darkblue!important;
    opacity: 0.8;
    z-index: 1;
  }
  .Catergory_Image3:hover{
    background-color:darkgray;
    opacity: 0.8;
    z-index: 1;
  }
  .Catergory_Item{
      color:#fff;
      background-color:blue;
      width:6%;
      text-align:center;
      position: absolute;
      border-radius: 50px;
      font-size: 12px;
      padding-top:10px;
      padding-bottom: 10px;
      opacity: 0.6;
      left: -26.5%;
      top: 22px
  }
  .Catergory_radius{
      position:absolute;
      width:100%;
  }
  .Catergory_Time{
      background-color: grey;
      opacity: 0.6;
      border-radius: 50px;
      width: 11%;
    color: black;
    // font-size: initial;
    padding: 0px 10px;
    font-weight: 500;
    position: absolute;
    left: -15%;
    top: 20px
  }
  .Category_Image_Radius{
      border:20px solid white
  }