.Main_Deliver{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Deliver_Card{
        min-width: 12%;
        width: 10px;
        text-align: center;
        /* box-shadow: 20px 20px 5px green; */
        padding: 20px;
        border: 2px solid gainsboro;
        border-radius: 20px;
        margin-right: 65px;
        background-color:white;
    }
}
.Deliver_Card:hover{
    box-shadow:7px 7px 10px black;
}