.New_Arrivals_Icon{
    color:rgb(104, 201, 68);
    font-size: 1.5em;
}
.New_Arrivals_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445
}
.New_Arrivals_Heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.New_Arrivals_Veiw_Scss{
    color: gray;
    display:flex;
    align-items: center;
    // position: absolute;
    // left: 93%;
    // top: 275%;
    margin-left: 76%;   
}
.New_Arrivals_Image_Scss{
    width:70%
}
.New_Arrivals_All_Carts{
    display:flex;
    background-color:white;
    border-radius:20px;
    padding-top: 36px;
    margin: 20px ;
    padding-left: 36px;
}

.New_Arrivals_Price_scss{
    color:red
}
.New_Arrivals_Image_Scss:hover{
    color:darkgrey
}