    .rating-brand{
        display: flex;
    }
    @media only screen  and(max-width:1200px){
        // .rating-brand{
        //     display: block;
        // }
        // .Rating_AllCarts{
        //     max-width: 100%;
        // }
        // .Rating_Heading{
        //     display: flex;
        //     // justify-content: space-between;
        // }
        .Rating{
            width: 100%;
        }
    }
    .rating_heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Rating_Veiw_Scss{
        color: gray;
        display:flex;
        align-items: center;
        // position: absolute;
        // left: 93%;
        // top: 275%;
        margin-left: 50%;   
}
.Main_Brands{
    margin-left: 60px;
}
.Rating_Heading{
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.Rating_Icon{
    color: rgb(250, 180, 0);
    font-size: 1.5em;;
}
.Rating_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445
}
.Rating_AllCarts{
    display: flex;
    max-width: 100%;
    background-color: white;
    padding: 36px 0px;
    border-radius: 20px;
    padding-left: 36px;
    // margin-left:36px;
    
}

.Rating_Image{
    width:75%;
}
.Rating_Icons{
    color:#faaf00;
    display: flex;
}
.Rating_Icons_Rate{
    color:black
}
.Rating_Carts{
    // margin: -22px;
}
.Rating_Price{
 color: #D23F57;
 display: flex;
 align-items: center;
 justify-content: center;
}
.Rating_Image:hover{
    background-color:darkgrey;
    // opacity: 0.8;    
}
.Rating_Text{
    display: flex;
    align-items: center;
    justify-content: center;
}
// Featueres & Brand Scss
.Brands_Carts{
 display:flex;
 max-width: 82%;
 background-color: white;
    padding-top: 36px;
    padding-left: 36px;
    border-radius:20px;
}
.Brands_Carts_Img{
    width:88%;
    border-radius: 6%;
}
.Brand_Icon{
    color: rgb(250, 180, 0);
    font-size: 1.5em;
}
.Brand_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445
}
.Brand_Heading{
    display: flex;
    // justify-content: center;
    align-items: center;
}
.Brand_Veiw_Scss{
    color: gray;
    display:flex;
    align-items: center;
    // position: absolute;
    // left: 93%;
    // top: 275%;
    margin-left: 33%;
    
  }
  .Brands_Carts_Img:hover{
      background-color:darkgrey;
      opacity: 0.8;
  }