.App{
  width: 100%;
  height: 100vh;
}
.App1{
  background-color: #F6F9FC;
  // background-color:white;
}
.Main_Header{
  display: inline-table;
    align-items: center;
    /* height: 25%;   */
    background-color:white;
    /* color: #fff; */
    position: fixed;
    /* top: 0; */
    width: 100%;
    z-index: 1;
    box-shadow: 5px 4px 21px grey
  /* background-color: white; */
  /* box-shadow: inherit; */
}
.Header_Border{
  background-color: rgb(15, 52, 96);
  color: white;
  display: flex;  
  line-height: 1;
  letter-spacing: 1px;
  justify-content: space-between;
  align-items: center;
  box-sizing: inherit;
  font-size:12px;
}
.Header_Border_div1{
 display: flex;
 cursor: pointer;
}
.Header_Border_div2{
  display: flex;
  /* justify-content: right; */
  /* align-items:flex-end; */
  cursor: pointer;
  justify-content:space-between

}
.Header_Border_Text{
  padding:1em
}
.Header_Border_Text1{
  padding-top: 22px; 
  padding-right: 2em;
}
.Hover:hover{
  color: red;
}
.Search:hover{
  border-color:#000000;
}
.Header_Search{
  display: flex;
  text-align: center;
  justify-content:space-between;
  /* padding:2%;   */
  align-items:center;
}
.Search{
  border: 1px solid lightgrey ;
  border-radius: 50px;
  width: 50%;
  height:35px;
  display: flex;
  color :1px solid lightgrey;
}
.Search_Input{
  border: none;
  width:70%;
}
.Btn-Categories{
  border: none;
  width: 28%;
  cursor: pointer;
  border-end-end-radius: 24px;
  border-top-right-radius: 24px
}
.Header_Icon{
  /* border-color: aliceblue; */
  /* border-radius: 50px; */
  display: flex;
  justify-content:space-evenly;
  width:25%;
}
.Icon{
  background: lightgray;
    /* padding: 2%; */
    color:rgba(0, 0, 0, 0.54);
    border-radius: 50px;
    /* width:6%; */
    /* font-style: medium; */
    cursor: pointer;

}
.Btn_Categories{
  border:none;
  width: 15%;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
 text-align: justify;
  /* margin: auto; */
  font-size:22px;
}
.Header_Container{
  display: flex;
  justify-content:space-between
}
.Header_Container2{
  /* padding:1em; */
  display: flex;
}
.Hover{
  padding-left: 1em;
  padding-right: 1em;
}
.DropDown_Contain{
  display: none;
}
.Hover_home:hover .DropDown_Contain{
   color: red;
   display: block !important;
}
.Categories{
  display: none
}
