.App{
  width: 100%;
  height: 100vh;
}
.App1{
  background-color: #F6F9FC;
  // max-width: 1205px;
  // background-color:white;
}
.Main_Header{
  // display: inline-table;
    align-items: center;
    /* height: 25%;   */
    background-color:white;
    /* color: #fff; */
    // position: fixed;
    /* top: 0; */
    width: 100%;
    z-index: 1;
    box-shadow: 5px 4px 21px grey
  /* background-color: white; */
  /* box-shadow: inherit; */
}
.Header_Border{
  background-color: rgb(15, 52, 96);
  color: white;
  display: flex;  
  line-height: 1;
  letter-spacing: 1px;
  justify-content: space-between;
  align-items: center;
  box-sizing: inherit;
  font-size:8px;
}
.Header_Border_div1{
 display: flex;
 justify-content: space-between;

 cursor: pointer;
}
.Header_Border_div2{
  display: flex;
  /* justify-content: right; */
  /* align-items:flex-end; */
  cursor: pointer;
  justify-content:space-between

}
.Header_Border_Text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding :0px 10px;
}
.Phone_Icon{
  font-size:20px; 
}
.Header_Border_Text1{
  outline: none;
    border: none;
  // padding-top: 22px; 
  padding-right: 2em;
  background-color: rgb(15, 52, 96);
  // background-color:#F6F9FC;
color: white;
}
.Hover:hover{
  color: red;
}
option:hover{
  background-color: red;
}
.Search:hover{
  border-color:#000000;
}
.Header_Search{
  display: flex;
  text-align: center;
  justify-content:space-between;
  /* padding:2%;   */
  align-items:center;
}
.Search{
  border: 1px solid lightgrey ;
  border-radius: 50px;
  width: 50%;
  height:35px;
  display: flex;
  color :1px solid lightgrey;
}
.Search_Input{
  border: none;
  width: 80%;
  height: 33px;
  outline: none;
  border-radius: 50px;
  font-size: 15px;
}
option{
  background-color: #ffffff;
  color: #000000;
}
.Search_Icon{
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 6px;
    color: grey;
}
.Btn-Categories{
  border: none;
  outline: none;
  color: #000;
    opacity: 0.9;
  // width: 28%;
  padding: 0px 10px;
  cursor: pointer;
  border-end-end-radius: 24px;
  border-top-right-radius: 24px;
  background-color:#F6F9FC
}
.Header_Icon{
  /* border-color: aliceblue; */
  /* border-radius: 50px; */
  display: flex;
  justify-content:space-evenly;
  width:25%;
}
.Icon{
  // background: lightgray;
  background-color: #F6F9FC;
     padding: 2%; 
    color:rgba(0, 0, 0, 0.54);
    border-radius: 50px;
    width:6%; 
    //  font-style: medium;
    cursor: pointer;

}
.categories_icon{
  font-size: 27px;
    margin-left: 10px;
    color: #000;
}
option:hover{
  color: red
}
.Btn_Categories{
  outline: none;
    background: #F6F9FC;
    color: darkgray;
  border:none;
  // width: 15%;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
 text-align: justify;
  /* margin: auto; */
  font-size:22px;
}
.Header_Container{
  display: flex;
  justify-content:space-between
}
.Header_Container2{
  /* padding:1em; */
  display: flex;
  // width: 400px;
  position: relative;
}
.Header_Container2 .DropDown{
  //  padding:15px 20px;
  //  background-color:#ffffff;
  //  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.6);
  //  font-weight: bold;
  padding:10px 10px;
   color: #333;
   display:flex;
   align-items: center;
   cursor: pointer;
   justify-content: space-between;
}
.Header_Container2 .DropDown:hover{
  color: red;
}
.DropDown .DropDown_Contain{
  position: absolute;
  top: 110%;
  // left:0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.6);
   font-weight: 500;
   color: #333;
   z-index: 1;
  //  width:95%;

}
.DropDown .DropDown_Contain .DropDown_Item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DropDown .DropDown_Contain .DropDown_Item:hover{
  background-color: #F6F9FC
}
.DropDown_Item:hover{
  color: red
}
.categories{
  background: #F6F9FC;
    color: darkgray;
    width: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hover{
  padding-left: 1em;
  padding-right: 1em;
}
.DropDown_Contain{
  display: none;
}
.DropDown:hover .DropDown_Contain{
  //  color: red;
   display: block !important;
  //  .DropDown_Item{
  //    display: block !important;
  //  }
}
.Categories{
  display: none
}
// .DropDown_Item{
//   display: none;
// }
