.Main_Slider{
    /* display :flex;
    max-width: 72%;
    align-items: center;
    line-height: 1.75; */
    box-sizing: border-box;
       display: flex;
       /* flex-flow: row wrap; */
       /* margin-top: -24px; */
      //  width:  72%;
       /* margin-left: -24px; */
       -webkit-box-align: center;
       align-items: center;
       -webkit-box-pack: center;
       justify-content: center;
   }
   /* } */
   .btn_Slider{
     background-color: rgb(210, 63, 87);
       color: #fff;
       border: none;
       border-radius: 10px;
       width: 32%;
       font-size: 17px;
       padding: 5px 10px;
       font-weight: 500;
   }
   .Slider_Img{
    width: 50%;
    position: relative;
    left: 100px;
   }
   .Slider{
     width: 29%;
   }
   .Slider_Heading{
    letter-spacing: 1px;
   }
   .Slider_Text{
    width: 136%;
    color: #0F3460;
   }
   