.Big_Discount_Img{
    width:100%;
    
}
.Big_Discount_Img:hover{
    background-color: darkgray;
    border-radius: 10px;
}
.Big_Discount_Description{
    font-weight: 600;
    // padding-left: 10px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
} 
.Big_Discount_Price_Scss{
    color: rgb(210, 63, 87);
    margin: 0;
}  
.Big_Discount_DisPrice_Scss{
    margin-left: 20px;
    color: grey;
    margin: 0;
    padding-left: 10px;
}
.Big_Discount_Carts{
    // min-width: 15%;
    margin:12px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
.Big_Discout_Heading_Text{
    font-weight: 700;
    font-size:25px;
    color: #2B3445;
    position: relative;
    left: 10px;
}
.Big_Discount_Heading{
    display: flex;
    justify-content:center;
    align-items:center;
}
.Big_Discount_Icon{
    font-size:1.5em;
    path {
        stroke: rgb(210, 63, 87);

    }
}
.Big_Discount_All_Carts{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(128px,1fr));
    // gap: 25px;
}

.Big_Discount_Main_Price{
    display: flex;
    // padding-left: 10px;
    // margin-bottom: 15px;
}